<div class="page-header">
  <h1>
    Pending Events
  </h1>
</div>


<% @events.each do |event| %>
<% event.responses.each do |response| %>

<% if response.user_id == current_user.id && response.event_response == "Pending"  %>


  <div class="col-md-5 col-md-offset-0">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">
            <a href="/events/<%= event.id %>"> <strong> <%= event.title %> </strong></a>

          <small> <em>
            @ <%= (User.find_by id: event.user_id).email %>
          </emd></small>
          <a href="/accept_invite/<%= event.id %>" style="color: red">
          <span class="pull-right">Decline</span> </a>
          <span class="pull-right">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
          <a href="/accept_invite/<%= event.id %>">
          <span class="pull-right">Accept</span>
         </a>

          </h1>
            <h1 class="panel-title">
              <%= event.date_time.strftime('%b %e, %C%y @ %l:%M%P') %>
              <span class="pull-right"><%=event.responses.where(event_response: "Accepted").count%> Accepted | <%=event.number_of_spots%> Spots Left</span>
        </h1>
      </div>


      <div class="panel-body">
          <a href="/events/<%= event.id %>"> <img  src="<%=event.image_url%>"  style='width:100%' height= "300px">
        </a>

                        <dd><strong>Description:</strong> <%= event.description %></dd>
                        <dd><strong>Flakiness bar:</strong> <%=event.flakiness_bar%></dd>
                          <dd><strong>Posted:</strong>&nbsp;<%= time_ago_in_words(event.created_at)%> ago</dd>
      </div>
    </div>
  </div>


<% end %>
<% end %>
<% end %>
