
<div class="page-header">
  <h3>Event #<%= @event.id %> <dd><img src="<%= @event.image_url %>"></dd></h3>
</div>



<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">

      <dt>Title</dt>
      <dd><%= @event.title %></dd>


      <dt>Description</dt>
      <dd><%= @event.description %></dd>


      <dt>Address</dt>
      <dd><%= @event.street %></dd>

      <dt>Neighborhood</dt>
      <dd><%= @event.neighborhood %></dd>


      <dt>Number of spots</dt>
      <dd><%= @event.number_of_spots %></dd>


      <dt>Date time</dt>
      <dd><%= @event.date_time.strftime('%a %b %e,  %Y at %l:%M %p') %></dd>


      <dt>Public private</dt>
      <dd><%= @event.public_private %></dd>


      <dt>Flakiness bar</dt>
      <dd><%= @event.flakiness_bar %></dd>


      <dt>Creator</dt>
      <dd><%= @event.user.email %></dd>



    </dl>

    <div class="btn-group btn-group-justified">

      <a href="/events" class="btn btn-primary">
        Back
      </a>

      <a href="/events/<%= @event.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_event/<%= @event.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>


    </div>
  </div>
</div>


<% @event.event_comments.each do |comment| %>
<div class="col-sm-5">
<div class="panel panel-default">
<div class="panel-heading">
<strong><%= comment.user.try(:email)%></strong> <span class="text-muted"><%= time_ago_in_words(comment.created_at)%> ago</span>
</div>
<div class="panel-body">
<%= comment.content %>
</div><!-- /panel-body -->
</div><!-- /panel panel-default -->
</div><!-- /col-sm-5 -->
<% end %>

<div class="row">
  <div class="col-md-12">

    <form action="/create_event_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">



      <!-- Label and input for user_id -->

      <div class="form-group">

        <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id%>">

      </div>



      <!-- Label and input for event_id -->

      <div class="form-group">

        <input type="hidden" id="event_id" name="event_id" placeholder="Event" class="form-control" value="<%= @event.id %>">

      </div>



      <!-- Label and input for content -->

      <div class="form-group">
        <label for="content" class="control-label">
          Comment
        </label>


        <textarea id="content" name="content" placeholder="Insert comment here" class="form-control" rows="3"><%= @event_comment.content %></textarea>

      </div>



      <button class="btn btn-success">
        Create Event Comment
      </button>
      or
      <a href="/event_comments">Cancel</a>

    </form>

  </div>
</div>


<h2> Accepted </h2>
<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">

      <% @accepted = @event.responses.where(event_response: "Accepted") %>
      <% @accepted.each do |i| %>


      <dt><%= i.user.email %></dt>
    <% end %>

</dl>
</div>
 </div>

 <h2> Rejected </h2>
 <div class="row">
   <div class="col-md-12 mb-2">
     <dl class="dl-horizontal">

       <% @accepted = @event.responses.where(event_response: "Rejected") %>
       <% @accepted.each do |i| %>


       <dt><%= i.user.email %></dt>
     <% end %>

 </dl>
 </div>
  </div>

  <h2> Pending </h2>
  <div class="row">
    <div class="col-md-12 mb-2">
      <dl class="dl-horizontal">

        <% @accepted = @event.responses.where(event_response: "Pending") %>
        <% @accepted.each do |i| %>


        <dt><%= i.user.email %></dt>
      <% end %>

  </dl>
  </div>
   </div>
