<div class="page-header">
  <h3>Friendship #<%= @friendship.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">

      <dt>User id 1</dt>
      <dd><%= @friendship.user_id_1 %></dd>


      <dt>User id 2</dt>
      <dd><%= @friendship.user_id_2 %></dd>


      <dt>Relationship</dt>
      <dd><%= @friendship.relationship %></dd>


    </dl>

    <div class="btn-group btn-group-justified">

      <a href="/friendships" class="btn btn-primary">
        Back
      </a>

      <a href="/friendships/<%= @friendship.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_friendship/<%= @friendship.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>


    </div>
  </div>
</div>
